.venv
archive
dataset
final_dataset
final_dataset1
model
stable-diffusion-face-dataset
trained_model
model_training\final_dataset\test\fake\faceswap
FaceForensics-DS
Google-DS
video_final_dataset
video_swin_dataset
FaceForensics++_C23\DeepFakeDetection
best_swin_model.pth
deepfake_face_dataset
deepfake_video_dataset
deepfake_video_frames
deepfake_video_model
video_dataset_pro
video_swin_dataset.zip
video_dataset_pro.zip
swin_video_model.pt
yolov8n.pt
video_dataset_pro.zip
video_swin_dataset.zip
.vscode
Final_Balanced_Video_Dataset
final_deepfake_video_frames_dataset
best_deepfake_model.pth
deepfake_video_tranined_model_1
video_model
deepfake_video_tranined_model_1
Celeb_fake_face_only-20260319T015612Z-1-001
Celeb_real_face_only-20260319T015658Z-1-001
DFDC_FAKE_Face_only_data-20260319T020845Z-1-001
DFDC_REAL_Face_only_data-20260319T053806Z-1-001
FF_Face_only_data-20260319T015734Z-1-001
Final_Video_Dataset_Version_3
final_frames_dataset_v3
model_backups
face-recognizer-main
testing_videos